/* header  */
@media (max-width: 575.98px) {
  /* Small devices */
  :root {
    --h1: 40px;
    --h2: 32px;
    /* --h3: 40px;
    --h4: 32px;
    --h5: 24px;
    --h6: 22px;
    --p-16: 16px; */
  }

  nav,
  .heading-cta {
    display: none;
  }
  .humbarger {
    display: inline-block;
  }
  .logo img {
    max-width: 140px;
  }
  .hero-icon {
    height: 200px;
    width: 200px;
  }
  .hero-icon img {
    height: 80px;
    width: 80px;
  }
  .hero-icon span {
    top: 0;
    right: -30px;
  }

  #hero-section {
    background-image: url(../images/mobile-bg.png);
    padding: 40px 0 40px 0;
    min-height: 400px;
  }
  .hero-content > h1 {
    padding-top: 20px;
  }
  #about-section {
    padding: 40px 0;
  }
  .divider {
    margin: 40px 0;
  }
  .fun-fact-area {
    grid-template-columns: repeat(2, auto);
    column-gap: 40px;
    row-gap: 40px;
  }
  .fact-item h2 {
    font-size: 40px;
  }
  #why-us-section {
    padding: 40px 0;
  }
  .feature-area {
    grid-template-columns: auto;
    gap: 16px;
    margin-top: 16px;
  }
  .feature-item {
    grid-row: auto !important;
    grid-column: auto !important;
    padding: 24px;
  }
  .feature-item h5 {
    font-size: 22px;
  }
}
@media (min-width: 576px) and (max-width: 991.98px) {
  /* Medium devices */
  nav,
  .heading-cta {
    display: none;
  }
  .humbarger {
    display: inline-block;
    font-size: 24px;
    color: var(--white-color);
  }
  .logo img {
    max-width: 140px;
  }

  .fun-fact-area {
    grid-template-columns: repeat(2, auto);
  }
  .feature-area {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature-item:nth-child(1) {
    grid-row: span 1;
  }
  .feature-item:nth-child(2) {
    grid-column: span 1;
  }
  .feature-item:nth-child(4) {
    grid-column: span 1;
  }
  .feature-item:nth-child(5) {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  /* Large devices */
  .humbarger {
    display: none;
  }
}
